<div id="player" class="container">
  <video width="1000" height="500" type="<%- type %>" controls src="<%- videoLink %>"></video>
</div>
<div id="pagination">
  <%- prev !== 0 ? include('./prevButton') : include('./emptyButton'); %>
  <br />
  <%- next !== 0 ? include('./nextButton') : include('./emptyButton'); %>
</div>
