<h1><%- id %></h1>
<div id="player" class="container">
  <video width="1200" height="600" controls src="/serial/<%= id %>.mkv"></video>
</div>
<div id="pagination">
  <a href="<%- prev %>"><<</a>
  <a href="<%- next %>">>></a>
</div>
